# Build output
lib/
dist/

# Dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock
.bun/

# TypeScript
*.tsbuildinfo

# IDE and editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Testing
coverage/

# React Native
*.jsbundle
*.jsbundle.map
*.ipa
*.apk
.expo/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
